.v-application code, .v-application kbd {
  display: initial;
  border: initial;
  white-space: initial;
  font-size: initial;
  font-weight: initial;
}

.v-application code {
  background-color: initial;
  color: initial;
  -webkit-box-shadow: initial;
  box-shadow: initial;
}

.fill-width {
  width: 100%
}

body {
  background-image: url(https://i.loli.net/2020/02/11/5RQbBs6hKHGwliV.png);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

.v-application {
  background: transparent !important;
}

.v-navigation-drawer {
  transition: .3s;
}

.theme--light.v-navigation-drawer {
  background: #ffffff7f !important;
  backdrop-filter: blur(3px);
}

.theme--light.v-navigation-drawer:hover {
  background: #ffffff !important;
}